.nav-parent {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  height: 60px;
  /* border: 2px solid black; */
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-around;
  /* border: 2px soli d red; */
  font-size: 18px;
  font-weight: bolder;
}

.w-15 {
  width: 15%;
}

.w-45 {
  width: 45%;
}

.w-20 {
  width: 20%;
}

.nav-parent p {
  cursor: pointer;
}

.container {
  height: 50px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container button{
  padding: 5px 20px;
}

.useEffect-container{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.useEffect-container button{
  padding: 5px 20px;
  border-radius:5px ;
  border: 1px solid black;
}

.useparams-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.dynamic-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}